@import "filbert-colors.css";

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .hero-image {
    height: 10em;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .hero-image {
    height: 20em;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .hero-image {
    height: 40em;
  }
}
